:root{
    --black: #0a0a0a;
    --green: #020914;
    --gray: #eaeaea;
    --gray-dark: #676767;
    --secondary: #99bfc6;
    --radius: 5px;
    --shadow: 0px 4px 10px #3d3b3b;
    --background: #171718;
}
html, body {
    overflow: auto; /*To be able to scroll down in the browser*/
}
/*-genaral-*/

body {
    overflow: hidden;
    font-size: 16px;
    margin: 0 !important;
    color: var(--black);
    background-color: var(--gray);
    font-family: 'Tajawal', sans-serif;
}

* {
    outline: none;
    box-sizing: border-box;
}

/*-cover-*/

.cover {
    width: 100%;
    padding: 40px 20px;
    background-color: var(--black);
}

.cover_container{
    width: 100%;
    max-width: 1170px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #f1faee;
    background-image: linear-gradient( rgb(99 99 99 / 60%), rgb(0 0 0 / 60%)),url('../images/BG10.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px;
    border-radius: var(--radius);
}

.cover-image{
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: var(--radius);
}

.cover-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
}

.cover-info {
    width: calc(100% - 250px);
    padding: 0 30px;
    position: relative;
}

.cover-info h1{
    margin-top: 0;
    font-size: 36px;
    color: white;
}

.cover-info p {
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 0;
    color: white;
}


/*-common-*/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #f1faee;
    border-radius: var(--radius);
    padding: 15px 20px;
    min-height: 350px;
    width: 100%;
    box-shadow: var(--shadow);
    background-image: linear-gradient( rgb(99 99 99 / 60%), rgb(0 0 0 / 60%)),url('../images/BG10.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card>h2 {
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
    color: white;
}

.line {
    display: flex;
    flex-direction: column;
}

.line:not(:last-child) {
    margin-bottom: 20px;
}

.line_head {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.line_head i {
    margin-right: 10px;
    color: var(--secondary);
}

.line_head h3 {
    margin: 0;
    color: white;
}

.line_body p{
    margin: 0;
    line-height: 25px;
    font-size: 18px;
    color: white;
}

.line_head h4 {
    width: 100%;
    margin: 6px 0 0 0;
    color: var(--secondary);
}

/*page container-*/

.page-body {
    width: 100%;
    padding: 50px 20px;
    background-color: var(--background);
}

.page-body_container{   
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

/*-skills section-*/

.skills_holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    display: flex;
    align-items: center;
    width: 100%;
}

.skill:not(:nth-last-child(-n+2)) {
    margin-bottom: 20px;
}

.skill_info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skill_info_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill_info_head h2 {
    margin: 0;
    font-size: 18px;
    color: white;
}

.skill_info_head span {
    font-weight: bold;
    color: white;
}

.skill_info_bar {
    position: relative;
    width: 100%;
    height: 15px;
    margin-top: 5px;
    background-color: var(--gary);
}

.skill_info_bar .layer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.5s ease;
    background-color: var(--secondary);
}

.skill:hover .layer {
    background-color: var(--green);
}

.skill:hover .skill_icon i {
    color: var(--green);
}

/*-work-*/

.image-holder {
    width: 100%;
    height: 500px;
}

.image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-holder video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-reviews-*/

.review-holder {
    height: 350px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review-holder>p {
    position: relative;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    padding-right: 20px;
    color: white;
}

.review-holder>p:after {
    content: 'â€';
    position: absolute;
    top: 11px;
    color: #848484;
    right: -15px;
    height: 40px;
    width: 20px;
    font-size: 77px;
}

.review-holder>h3 {
    margin: 10px 0 0 0;
    font-size: 20px;
    color: white;
}


/*-slider-*/

.slides-container {
    position: relative;
}

.slides-BTNS {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 23px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.slides-BTNS>span {
    padding: 0 20px;
}

.prev i, .next i {
    cursor: pointer;
    width: auto;
    color: rgb(102, 98, 98);
    font-size: 40px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*-contact-*/

.contact-desc {
    font-size: 18px;
    color: white;
}

/*-footer-*/

footer {
    width: 100%;
    padding: 25px 20px;
    background-color: var(--black);
}

.footer-container{
    width: 100%;
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.footer-container>div{
    width: 50%;
}

.footer-container>div:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-container>div:first-child p {
    margin: 0;
    font-size: 18px;
    color: #F9F6EE;
}

.footer-container>div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social-media ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-media ul li:not(:last-child){
    margin-right: 15px;
}

.social-media ul li a {
    display: flex;
    text-decoration: none;
    color: #F9F6EE;
    transition: all 0.5s ease;
}

.social-media ul li a:hover {
    color: var(--background);
}
.social-media ul li a i {
    font-size: 29px;
}


/*-responsive-*/

/*-greater than 900px-*/

@media (min-width : 900px){
    .card--half {
        width: 48% !important; 
    }
    .skill {
    width: 48%;
    }
    .card--full {
        width: 100% !important;
    }
    .row:not(:last-of-type) {
        margin-bottom: 45px;
    }
}

/*-smaller than 900px-*/

@media (max-width: 900px) {
    .card {
        margin-bottom: 30px;
    }
    .cover_container {
        flex-direction: column;
        padding: 20px;
    }
    .cover-info h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .cover-info {
        width: 100%;
        padding: 0;
    }
    .skill:not(:last-child) {
        margin-bottom: 20px;
    }
    footer> .footer-container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    footer>.footer-container>div{
        width: 100%;
    }
    footer>.footer-container>div:first-child{
        justify-content: center;
    }
    footer>.footer-container>div:last-child {
        justify-content: center;
        margin-bottom: 23px;
    }
}
