<footer>
    <div class="footer-container">
        <div>
            <p> &copy; Mehdi Lafdali </p>
        </div>
        <div>
        <div class="social-media">
            <ul>
                <li><a href="https://www.instagram.com/mehdi_lafdali/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://github.com/mehdilafdali"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/mehdi-lafdali-8441b01ba/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</footer>