<div class="card card--full">
    <h2>Skills</h2>
    <div class="skills">
        <div class="skills_holder">
            {{ range .Site.Data.skills }}
            <div class="skill">
                <div class="skill_info">
                    <div class="skill_info_head">
                        <h2>{{ .title }}</h2>
                        <span>{{ .percent }}</span>
                    </div>
                    <div class="skill_info_bar">
                        <span 
                            class="layer" 
                            style="width: {{ .percent }}; background-color: {{ .color }}">
                        </span> 
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>